 .navbar {
   height: 8;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #004d40;
   padding: 10px 20px;
   color: white;
   margin:10px;
   margin-bottom: 20px;
   margin-top: 0;
   border-radius: 1rem;
   position: relative; /* Veya absolute, fixed */
  top: 10px
 }
 
 .logo {
   font-weight: bold;
 }
 
 .menu {
   display: flex;
 }
 
 .menu-item {
   background-color: #00796b;
   border: none;
   color: white;
   padding: 10px 20px;
   margin-left: 10px;
   cursor: pointer;
   transition: background-color 0.3s;
   border-radius: 1rem;
 }
 
 .menu-item.special {
   background-color: #0a1211;
   border-radius: 1rem;
 }
 .menu-item:last_child():hover {
   background-color: #34db8da2;
 }
 .menu-item:hover {
   background-color: #005b4f;
 }

 