.temel {
   max-height: 100%;
   background-color: #edfaee;
   padding: 20px;
   border-top-right-radius: 1.5rem;
   flex-grow: 12 ;
   display: flex;
   flex-direction: column;
   align-items: center;
}
 
.input_image {
   width: 260px;
   height: 260px;
   background-color: gray;
}

.input_image input{
   position: relative;
   top: 125px;
   left: 125px;
}